<?xml version="1.0" encoding="UTF-8"?>
<config>
  <experiment_number>208</experiment_number>
  <simulation_time>3000</simulation_time>
  <logging>1</logging>
  <log_dir>/Users/musa/Projects/ns-allinone-2.35/ns-2.35/scripts/redundancy/logs/</log_dir>
  <plot_dir>/Users/musa/Projects/ns-allinone-2.35/ns-2.35/scripts/redundancy/plots/</plot_dir>
  <number_of_servers>10</number_of_servers>
  <copies>2</copies>
  <percent_load>95</percent_load>
  <failures>0</failures>
  <number_of_flows>20000</number_of_flows>
  <use_different_priorities>1</use_different_priorities>
  <chunk_size>64000000.0</chunk_size>
  <link_bandwidth>1000Mb</link_bandwidth>
</config>
