<?xml version="1.0" ?><config>
  <experiment_number>499</experiment_number>
  <simulation_time>16.8</simulation_time>
  <logging>1</logging>
  <link_bandwidth>1000Mb</link_bandwidth>
  <number_of_servers>10</number_of_servers>
  <number_of_flows>20000</number_of_flows>
  <chunk_size>100000.0</chunk_size>
  <file_size_distribution>deterministic</file_size_distribution>
  <copies>1</copies>
  <use_different_priorities>0</use_different_priorities>
  <purging>0</purging>
  <failures>0</failures>
  <percent_load>95</percent_load>
</config>