<?xml version="1.0" encoding="UTF-8"?>
<config>
  <experiment_number>44</experiment_number>
  <simulation_time>4000</simulation_time>
  <logging>1</logging>
  <log_dir>/home/mosestufts/tarballs/ns-allinone-2.35/ns-2.35/src/redundancy/logs/</log_dir>
  <plot_dir>/home/mosestufts/tarballs/ns-allinone-2.35/ns-2.35/src/redundancy/plots/</plot_dir>
  <number_of_servers>30</number_of_servers>
  <copies>2</copies>
  <percent_load>50</percent_load>
  <failures>0</failures>
  <number_of_flows>25000</number_of_flows>
  <use_different_priorities>0</use_different_priorities>
  <chunk_size>1000.0</chunk_size>
  <link_bandwidth>100Mb</link_bandwidth>
</config>
